/**
 * Colors variables
 */
@use 'sass:map';

$theme-colors: (
  default: (
    primary: #f40c3f,
    secondary: #160000,
    shadow: #540000,
    white: #fff0eb,
  ),

  contrasted: (
    primary: #fff2ed,
    secondary: #160000,
    shadow: #4d4040,
    white: #fff0eb,
  ),
);
